global:
  appName: your-app-name

deployment:
  enabled: true
  replicaCount: 1
  image:
      repository: "your-docker-repo"  # Replace with your Docker repository
      tag: "latest"                   # Replace with your image tag
      pullPolicy: IfNotPresent
  strategy:
    type: RollingUpdate
    maxSurge: 25%
    maxUnavailable: 25%
  resources:
      limits:
        cpu: "500m"
        memory: "512Mi"
      requests:
        cpu: "250m"
        memory: "256Mi"
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  livenessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /health
      port: 8080
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  startupProbe:
    httpGet:
      path: /health
      port: 8080
    failureThreshold: 12
    periodSeconds: 10

service:
  enabled: true
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080

pdb:
  enabled: true
  minAvailable: 1

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

ingress:
  enabled: false