name: chart release

on:
  push:
    tags:
      - "v*"   # läuft bei Tags wie v1.0.0
  workflow_dispatch:  # manuelles Starten möglich

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.2

      - name: Log in to Docker Hub (OCI registry)
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | helm registry login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin registry-1.docker.io

      - name: Package Helm chart
        run: |
          helm package . --destination ./packaged

      - name: Push Helm chart to Docker Hub
        run: |
          CHART_NAME=$(yq '.name' Chart.yaml)
          CHART_VERSION=$(yq '.version' Chart.yaml)
          helm push ./packaged/${CHART_NAME}-${CHART_VERSION}.tgz oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME }}/helm-charts
